version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
  - package-ecosystem: "npm"
    directory: "/.github/actions/nylbot-merge"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
